header {
  position: fixed;
  display: flex; 
  height: 520px;
  width: 100vw;
  align-items: center ;
  justify-content: center;
  flex-direction: column;

background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
background-color: linear-gradient(90deg, rgba(64,86,161,0.3617822128851541) 0%, rgba(244, 241, 236, 0.537) 100%);
}   