.top {
  position: fixed;
  display: flex; 
  height: 520px;
  width: 100vw;
  align-items: center ;
  justify-content: center;
  flex-direction: column;
background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
background-color: #f4f1ec;
}   