.new-tweet {
  display: flex;
  margin: 0 auto;
  padding-top: 540px;
}
.new-tweet div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-tweet button {
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  color: #ffffff;
}
.counter {
  justify-content: flex-end;
  font-family: 'Bungee', sans-serif;
}
.new-tweet textarea {
  display: flex;
  margin: 0 auto;
  border-style: none;
  outline: none;
  background-color: #f4f1ec;
  border-bottom: solid rgba(19, 18, 18, 0.831);
  height: 35px;
  width: 800px;
}
.new-tweet form {
  vertical-align: middle;
}
.new-tweet label {
  margin: 0 auto;
}